body {
    background: white url("images/bg.jpg") no-repeat;
    color:#fff
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #fff;
}

form {
    max-width: 60%;
    box-shadow: 0 0 10px #000;
    margin: 0 auto;
    padding: 30px;
    /* background: #fff; */
}

label {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
    display: block;
    color: #fff;

}

input {
    height: 45px;
    line-height: 45px;
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 98%;
    padding-left: 20px;
    font-size: 16px;
}

p {
    font-size: 30px;
    color: #fff;
}

button {
    height: 55px;
    line-height: 55px;
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 200px;
    background: transparent;
    color: #fff;
    font-size: 20px;
    padding: 0;
}

.add-request-btn {
  margin:1px 0;
}

.code-links-dropdown{
  display: inline-block;
  width: 50%;
  padding:10px 0;
  margin:1px 0;
  border-left:0;
  border-top:0;
  border-right:0;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  border-radius: 1px;
  outline:none;
  color: #fff;
  background: transparent;
}
.code-links-dropdown option{
  color: #000;
  background-color: transparent;
}

.button {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    padding-left: 20%;
}

.logout-btn {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    padding-right: 0;
    display: block;
    margin: 0 0 0 auto;
}

.login-btn {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    padding-left: 0;
    display: block;
    left: 50%;
}

.title-text {
    text-align: center;
    font-size: 40px;

}

.reset-password {
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    padding-left: 20%;
}

.forget-instruction {
    text-align: center;
}

#div_id_email>label {
    margin-bottom: 10px;
}

.d-flex.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 100vh;
}

a {
    color: #fff;
}

a:hover {
    color: rgb(229, 132, 14);
}


*{
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 30px;
  font-size: 18px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #4a7ff3;
  background: #4a7ff3;
  transition: 0.2s;
}
.hero-btn:disabled,hero-btn[disabled]{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 30px;
  font-size: 18px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.text-manage{
  top: 120px;
  right: 20px;
  width:380px;
  position:absolute;
  margin:1% auto;
  background: rgba(0,0,0,0.3);
  padding:20px 20px;
  color: #fff;
  font-size: 18px;
  overflow: hidden;
}
.input-field{
  width: 100%;
  padding:5px 5px;
  margin:1px 0;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  outline:none;
  color: #fff;
  background: transparent;
}
.input-field1{
  display: inline-block;
  width: 100%;
  padding:10px 0;
  margin:1px 0;
  border-left:0;
  border-top:0;
  border-right:0;
  border-bottom: 1px solid #fff;
  border-radius: 1px;
  outline:none;
  color: #fff;
  background: transparent;
}
.input-field2{
  width: 40px;
  margin:5px 5px;
  padding-left: 3px;
  color: #fff;
  background: transparent;
}
.input-field3{
  display: inline;
  width: 30px;
  color: #fff;
  background: transparent;
}
.dropdown{
  color: #fff;
}
option.dropdown{
  color: #000;
}
.table-responsive{
  top: 70px;
  left: 35px;
  width: 800px;
  height: 500px;
  position:absolute;
  margin:1% auto;
  background: rgba(0,0,0,0.3);
  padding:20px;
}
.table {
  counter-set: 0;
  counter-reset: set;
}
.table tr td:first-child:before{
  counter-increment: set;
  counter-set: 1;
  content: counter(set);
}
.text-center{
  font-size: 32px;
  color: #fff;
}
.table-responsive caption{
  font-size: 20px;
  color: #fff;
}
.msg{
  font-size: 20px;
  color: rgb(72, 255, 0);
}
.button-wapper{
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.button-wapper button{
  line-height: 34px;
  padding:0 !important;
  height:40px;
  margin:0 !important;
  border-radius: 5px !important;
}
.header_btn{
  display: flex;
  justify-content: space-between;
}
.btnn{display: flex;}
.header_btn button{margin: 0 10px;background-color: transparent;}