{% extends "accounts/layout.html" %}

{% block content %}

    <div>
        <h1 class="title-text">AI Modifier</h1>

        {% if message %}
            <br>
            <strong><p>{{message}}</p></strong>
        {% endif %}

        {% if user.is_authenticated %}
            <button type="submit" class="logout-btn"><a href="{% url 'logout' %}">Log out</a></button>
            <button type="submit" class="logout-btn"><a href="{% url 'index' %}">Cancel</a></button>

            <strong><p>User: {{user.name}}</p></strong>

            <form action="{% url 'add_request' %}" method="post">
                {% csrf_token %}
                <label for="url">URL</label>
                <br>
                {% if url %}
                <input type="url" name="url-show" id="url-show" value={{url}} disabled="true" required>
                <input type="hidden" name="url" id="url" value={{url}} required>
                {% else %}
                <input type="url" name="url" id="url" placeholder="https://www.website.com" required>
                {% endif %}
                <br><br>
        
                <label for="link">Code link</label>
                <br>
                {% if code_link %}
                <input type="text" name="link" id="link" value={{code_link}} required>
                {% else %}
                <input type="text" name="link" id="link" required>
                {% endif %}
                <br><br>

                <label for="username">Username</label>
                <br>
                {% if username %}
                <input type="text" name="username" id="username" value={{username}} required>
                {% else %}
                <input type="text" name="username" id="username" required>
                {% endif %}
                <br><br>

                <label for="token">Access Token</label>
                <br>
                {% if token %}
                <input type="text" name="token" id="token" value={{token}} required>
                {% else %}
                <input type="text" name="token" id="token" required>
                {% endif %}
                <br><br>

                <label for="version_control">Version Control</label>
                <br>
                {% if version_control %}
                <input type="text" name="version_control" id="version_control" value={{version_control}} required>
                {% else %}
                <input type="text" name="version_control" id="version_control" required>
                {% endif %}
                <br><br>

                <label for="branch">Branch</label>
                <br>
                {% if branch %}
                <input type="text" name="branch" id="branch" value={{branch}} required>
                {% else %}
                <input type="text" name="branch" id="branch" required>
                {% endif %}
                <br><br>

                <input type="hidden" name="email" id="email" value={{user.email}} required>
                
                {% if edit_request %}
                <button type="submit"> Edit Request </button>
                {% else %}
                <button type="submit"> Add Request </button>
                {% endif %}
                <br><br>
            </form>

        {% else %}
            <br>
            <button type="submit" class="login-btn" ><a href="{% url 'login' %}"> Log in </a></button>

        {% endif %}
        
    </div>

{% endblock %}